python-dotenv==0.21.1
SQLAlchemy==2.0.31
aiosqlite
fastapi
uvicorn
pydantic
gunicorn
yookassa
jinja2
python-multipart
starlette
ipaddress
apscheduler
databases
httpx
uuid
pandas
xlsxwriter
plotly
random
