<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bind Card</title>
</head>
<body>
    <h1>{{balance}}</h1>
    <form action="getMyMoney" method="post">
        <label for="card_num">Номер карты:</label>
        <input id="card_num" name="card_num" type="number" required>
        <label for="secret_key">Секретный ключ:</label>
        <input id="secret_key" name="secret_key" type="text" required>
        <button type="submit">Отправить</button>    </form>
</body>
</html>
