<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <style>
        html, body{
            margin: 0;
            padding: 0;
            background-color: #000014;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .logo{
            width: 250px;
        }
        h1{
            font-size: 10vw;
            color: #fff;
        }
    </style>
    <img class="logo" src="logo.gif" alt="">
    <h1>Операция прошла успешно. Вы можете возвращаться в бота</h1>
</body>
</html>
